#################
## LaTeX
#################
*.aux
*.toc
*.out
*.bcf
*.idx
*.xml
*.log
*.ptc
*.synctex.gz
P_01_Architecture/03_RepresentationEntiers/Cours/P_01_03_RepresentationEntiers_Cours.synctex(busy)
